<h1>Login</h1>

<form action="/sessions" method="POST">
  <strong>Name: </strong><input type="text" name="name"><br>
  <strong>Email: </strong><input type="email" name="email"><br>
  <strong>Password: </strong><input type="password" name="password"><br>
  <input type="submit" value="Login">
</form>