<h1>Sign Up</h1>

<form action="/users" method="POST">
  <strong>Name: </strong><input type="text" name="name"><br>
  <strong>Email: </strong><input type="email" name="email"><br>
  <strong>New Password: </strong><input type="password" name="password"><br>
  <input type="submit" value="Create Account">
</form>