<h1>Edit Brands</h1>

<form action="/brands" method="POST">
  <strong>Name: </strong><input type="text" name="name"><br>
  <strong>Palettes: </strong><input type="text" name="palettes"><br>
  <strong>Age: </strong><input type="integer" name="password"><br>
  <strong>Clean: </strong><input type="radio" value="Yes" name="clean"><br>
  <input type="radio" value="No" name="clean">
  <input type="submit" value="Submit Changes">
</form>