<h1>New Favorite Brand</h1>

<form action="/brands" method="POST">
  <strong>Name: </strong><input type="text" name="name"><br>
  <strong>Palettes: </strong><input type="text" name="palettes"><br>
  <strong>Age: </strong><input type="integer" name="age"><br>
  <strong>Clean: </strong><input type="radio" value=true name="clean">
  <label>Yes</label>
  <input type="radio" value=false name="clean">
  <label>No</label><br>
  <input type="submit" value="Create New Favorite Brand">
</form>