<h1>New Favorite Brand</h1>

<form action="/users" method="POST">
  <strong>Name: </strong><input type="text" name="name"><br>
  <strong>Palettes: </strong><input type="text" name="email"><br>
  <strong>Age: </strong><input type="integer" name="password"><br>
  <strong>Clean: </strong><input type="boolean" name="password"><br>
  <input type="submit" value="Create New Favorite Brand">
</form>