<div class="container">
    <h2>Sinatra Makeup Tracker</h2>

    <div class="content">
      <p>Welcome to my Sinatra Makeup Tracker App!</p>
      <a href="/login">Login</a>
      <br>
      <a href="/signup">Sign Up</a>
    </div>
</div>
